* {
  border: 1px red solid;
  margin: 0px;
  padding: 0px;
}

.div_1 {
  display: flex;
}

.div_1 > h1{
  background-color: blue;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

.test-maindiv {
  background-color: lawngreen;
}