* {
  border: 1px red solid;
  margin: 0;
  padding: 0;
}

/* div 1 --------------------------*/

.div_1 {
  display: flex;
}
.div_1 > h1 {
  background-color: dodgerblue;
  width: 50%;
}

.mainSearchForm-div {
  background-color: orangered;
  width: 50%;
}

.searchForm-div {
  display: flex;
}

.searchForm-div > button {
  width: 30%;
}

.mainInputWithLabel-div {
  width: 70%;
}

/* div 1 ------------------------*/

/* div 2 ----------------------- */

.div_2 {
  display: flex;
}

.servicesList {
  width: 50%;
}

.slideContainer {
  width: 50%;
}

/* div 2 ----------------------- */

